@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Merriweather", serif;
}

/* banner seaction style hear */
.banner-container {
   max-width: 1320px;
    margin: 0 auto;
    height: 600px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

/* .banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
} */
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}

.banner-content p, h1 {
    color: white;
}

.banner-content p {
    font-size: 32px;
font-weight: 400;
}
.banner-content h1 {
    font-size: 72px;
font-weight: 900;
}

/* 60% off section starts hear */
.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
}
.second-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-content h1 {
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
}
.second-section-content p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.second-section-content h3 {
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
}

.image-container {
    width: 802.9px;
    height: 500px;
}
.image-container img {
    width: 100%;
    height: 100%;
}

.midnight-party-container {
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../images/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    background-blend-mode: overlay;
    margin-top: 50px;
}

.midnight-party-container {
    display: flex;
    
}

.leftside-content {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leftside-content h2 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}
.leftside-content p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.rightside-content {
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: ;
    align-items: center;
    padding-left: 110px;
}
.midnight-button {
       color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
margin-right: 400px;
}

/* third section start */
.third-section-container {
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);

}


.sp{
    color: rgb(255, 0, 0);
}
.btn {
    background-color: rgb(255, 0, 0);
    width: 167px;
    height: 56px;
    border: none;
}

* third section start */
.third-section-container {
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);

}

.p-contain {
    font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
}

.sp{
    color: rgb(255, 0, 0);
}
.btn {
    background-color: rgb(255, 0, 0);
    width: 167px;
    height: 56px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

/* fourth section */

.fourth-section-container {
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.left-content {
    width: 33%;
height: 255px;
}
.left-content h5 {
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.left-content h3 {
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: 60px;
}
.left-content p {
    width: 393px;
height: 128px;
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}

.mid-content {
   
    border-radius: 50%;
    padding: 20px;
    border: 10px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.righ-content {
    width: 33%; 
    padding-left: 118px;
   
}
.righ-content img {
    width: 140px;
    height: 140px;
}

/* holyday styles */
.holyday-section-container {
    width: 1320px;
    height: 986.07px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}
.holyday-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 1068px;
    height: 260px;
    margin: 0 auto;
}

.holyday-text-container h5 {
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
}
.holyday-text-container h2 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
}
#Holidays {
    color: rgb(255, 0, 0);
}
.holyday-text-container p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
}
.solid-color {
    width: 1320px;
    height: 229px;
    background-color: rgb(255, 0, 0);
    position:absolute;
    top:77%
}
.giftbox {
    width: 674.82px;
    height: 577.96px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.girl-container {
    width: 10%;
    height: 100.84px;
}

/* portfolio style */

.portfolio-conntainer {
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
    margin-top: 50px;

}

.portfolio-text-content h6 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.portfolio-text-content h3 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.portfolio-text-content p {
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-bottom: 50px;
}
.item {
    width: 424px;
    height: 450px;
}
.portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.item img {
    width: 100%;
height: 100%;
}


/* Subscribe Newsletter style */

.Subscribe-section-container {
    background-color: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;

}

.Subscribe-section-container h3 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.Subscribe-section-container p {
    color: rgba(17, 8, 2, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.subscribe-container {
    width: 648px;
height: 72px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
}

.email-input {
    border: none;
    padding: 10px 20px;
    border-radius: 50px 0 0 50px;
    outline: none;
    font-size: 16px;
    color: #333;
    width: 100%;
}

.email-input::placeholder {
    color: #aaa;
}
.subscribe-button {
    width: 210px;height: 72px;
    border: none;
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.subscribe-button:hover {
    background-color: darkred;
}

/* footer styles */
.footer-container {
    width: 1800px;
    height: 609px;
    margin: 0 auto;
    background: rgb(7, 2, 17);
    padding: 10px;
}
.contact {
    display: flex;
    color: #ffffff;
}
.footer-firsr-section {
    display: flex;
    color: white;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 50px;
}
.hr {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.social-icons {
 width: 400px;
 margin: 0 auto; 
 margin-top: 120px;
 display: flex;
 justify-content: space-evenly;  
}
.footer-end-text {
    width: 90%;
    margin: 0 auto;
    display: flex;
    color: white;
    height: 30px;
    justify-content: space-between;

}